# PostgreSQL Credentials for Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123

# Backend Environment Variables
# Using the credentials from above
DATABASE_URL="postgresql://postgres:password123@localhost:5432/care_alert?sslmode=disable"
JWT_SECRET="care_alert_super_secret_key_2026"

# Admin Portal (Frontend) Environment Variables
VITE_API_URL=http://localhost:3000/api/v1
