# Database Configuration
POSTGRES_DB=care_alert
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
DATABASE_URL="postgresql://postgres:password123@localhost:5432/care_alert?schema=public"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Authentication
JWT_SECRET="super-secret-jwt-key"
JWT_REFRESH_SECRET="super-secret-jwt-refresh-key"

# Backend API configuration
PORT=3000
